.addressRequest {
    margin: 0.5vw;
    text-align: center;
    color: #002933;
    padding: 1vw;
    border: 0.20vw solid #005266;
    border-radius: 2vw;
}

.data {
    font-size: large;
    color: purple;
}